torch
transformers
tokenizers
sentencepiece
pyarrow
accelerate
pydantic
markdown2
numpy
scikit-learn
requests
httpx
uvicorn
fastapi
einops
einops-exts
timm
tiktoken
transformers_stream_generator
scipy
pandas
torchaudio
xformers
pillow
deepspeed
pysubs2
trl
moviepy
diffusers
gradio
